/*
Project Name: Blank Template
Client: Relaxr
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 90vh;
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

blockquote
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

html, header {
  height: 100%;
}
header {
   background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
   background-size: cover;
}

.header-logo {
  padding-left: 50px;
  padding-top: 20px;
}
.piece-of-mind-tagline {
  padding-top: 20vh;
}

.benefits {
  background-color: #f0efef;
  padding: 50px;
}

.testimonial {
  padding: 50px;
  background-image: url(../images/testimonial_bg.jpg);
}

aside {
  padding: 10px;
  background-color: #f9e42e;
}

footer {
  background-color: #121212;
  padding: 50px;
}

h1.footer-logo {
  color: #f9e42e
}

ul.footer-social-links {
  list-style: none;
  padding: 0px;
}

li.social-links {
  display: inline-block;
  padding: 15px;
}

.social-links img {
  max-width: 40px;
  max-height: 30px;
  padding: 5px;
  margin: 10px auto;
}

ul {
  margin-bottom: 0px;
}

.benefits h3, .benefits p {
  max-width: 50%;
}
/******************************************
/* FONTS
/*******************************************/

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 14px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: white;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
  text-align: center;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #033048;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #606161;
}

blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: white;
  text-align: center;
}

.amanda-intuit-attribution {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: block;
  text-align: center;
}

h6.center {
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  font-weight: 600;
  color: #606161;
}

/******************************************
/* BUTTONS
/*******************************************/
.button {
  display: block;
  vertical-align: center;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.button.get-it-now {
  background-color: #f9e42e;
  color: #033048;
  font-size: 14px;
  margin: 6vh auto;
}

.button.sign-up {
  background-color: #033048;
  color: white;
  font-size: 12px;
}
